/* html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.footer-links {
  /* background-color: rgba(255, 255, 255, 0.87); */
  /* font-family: 'Sarabun', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
   color: #242424;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; */
  background-color: #dfebeb;
  /* justify-content: center; */
  /* padding: 64px; */

  /* gap: 32px; */
  /* box-sizing: border-box; */
  padding: 64px 0;
}

.container {
  padding: 0 64px;
}

.footer-content {
  /* width: 100%; */
  display: flex;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 16px;
  padding: 48px;
}

.footer-container {
  /* width: 100%;
  height: 100%; */
  /* display: flex; */
  /* padding: 48px; */
  /* background-color: rgba(255, 255, 255, 0.87); */
  /* border-radius: 16px; */
  /* max-width: 1312px; */
  /* width: 100%; */
  /* margin: 0 auto; */
  /* justify-content: center; */
  /* box-sizing: border-box; */
}

.footer-logo-wrapper {
  /* padding: 48px; */
  gap: 24px;
  flex-direction: column;
  display: flex;
  /* height: 100%;
  text-align: left;
  align-self: flex-start; */
  margin-right: auto;
  width: 595px;
}

.footer-logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 1.25rem;
  color: #0d0b0a;
  text-decoration: none;
  margin-bottom: 48px;
}

.footer-logo svg {
  width: 84px;
  /* height: 36px;
  color: #0d0b0a;
  margin-bottom: 24px; */
}

.footer-logo-wrapper > p {
  /* margin-bottom: 15px; */
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  font-weight: 400;
  /* gap: 24px; */
}

.newsletter-form {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.newsletter-form input[type='email'] {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
  background-color: #0d0b0a0d;
}

.newsletter-form button {
  padding: 10px 20px;
  background-color: #0d0b0a0d;
  border: none;
  border-radius: 24px;
  color: #242424;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #3182ce;
}

.footer-logo-wrapper-privacy-policy,
.footer-logo-wrapper-privacy-policy a {
  font-size: 12px;
  /* font-weight: 400; */
  color: #0d0b0a;
}

.footer-form-bottom {
  gap: 16px;
}

.footer-quick-links,
.footer-social-links {
  /* flex: 1 1 180px; */
  min-width: 160px;
  /* padding: 48px; */
}

.footer-quick-links h3,
.footer-social-links h3 {
  font-weight: 600;
  /* font-size: 16px; */
  margin-bottom: 24px;
  /* color: #0d0b0a; */
}

/* .footer-quick-links ul,
.footer-social-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
} */

/* .footer-quick-links li,
.footer-social-links li {
  margin-bottom: 10px;
} */

.footer-quick-links a,
.footer-social-links a {
  /* text-decoration: none; */
  color: #0d0b0a;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.footer-quick-links a:hover,
.footer-social-links a:hover {
  color: #3182ce;
}

.footer-social-links i {
  margin-right: 12px;
  vertical-align: middle;
  font-size: 1.1rem;
}
/* .social-link {
  font-size: 14px;
  padding-left: 12px;
  text-decoration: none;
  font-family: 'Sarabun';
  font-weight: 400;
} */

.footer-bottom {
  /* text-align: left;
  margin-top: 30px;
  font-size: 0.85rem; */
  color: #0d0b0a;
  /* margin-top: auto; */
  /* text-align: left;
  align-self: flex-start; */
}
.footer-bottom.mobile-only {
  display: none;
}

.footer-social-container {
  display: flex;
  /* flex-direction: row; */
  gap: 24px;
  /* align-items: flex-start; */
}

/* Додані зміни */
.footer-logo {
  height: 36px;
}
.social-item,
.quick-links-list-item {
  height: 40px;
}
.social-link {
  display: flex;
  gap: 12px;
}
.footer-bottom-paragraph {
  font-size: 14px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    /* gap: 48px; */
    /* min-height: 100%; */
    overflow-x: hidden;
    /* padding: 32px; */
  }

  .footer-content {
    flex-direction: column;
  }

  .container {
    padding: 0 16px;
  }

  .footer-content {
    padding: 32px;
    gap: 48px;
  }

  /* footer.footer-links {
    padding: 48px 16px 48px 16px;

    gap: 32px;
    min-height: 100%;

    width: 100%;
    flex-direction: column;
  } */

  /* .footer-logo-wrapper,
  .footer-quick-links,
  .footer-social-links {
    min-width: auto;
    flex: none;
    padding: 32px;
  } */

  .footer-logo-wrapper {
    width: 100%;
  }
  .footer-logo-wrapper-privacy-policy {
    line-height: 1.6;
  }
  .footer-bottom.mobile-only {
    display: block;
    /* padding-left: 32px;
    margin-bottom: 32px; */
  }

  .footer-bottom:not(.mobile-only) {
    display: none;
  }

  .footer-social-container {
    margin-top: 0;
  }

  .footer-social-container {
    display: flex;
    flex-direction: column;
  }

  .newsletter-form {
    display: flex;
    gap: 16px;
    /* margin-bottom: 12px; */
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1335px) {
  /* footer.footer-links {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  } */
  .container {
    padding: 0 32px;
  }
  .footer-content {
    padding: 40px 32px;
    flex-direction: column;
    gap: 40px;
  }
  .footer-social-container {
    gap: 40px;
  }
  .footer-quick-links,
  .footer-social-links {
    flex-basis: calc((100% - 40px) / 2);
  }
  .footer-logo-wrapper {
    width: 100%;
    margin-right: 0;
  }

  /* .footer-container {
    flex-direction: column;
    min-height: 100%;

    padding: 40px 32px 40px 32px;
  } */

  /* .footer-logo-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
  } */

  .footer-bottom.mobile-only {
    display: block;
    /* padding-left: 32px;
    margin-bottom: 40px; */
  }

  .footer-bottom:not(.mobile-only) {
    display: none;
  }

  /* .footer-social-container {
    justify-content: left;
  } */
}
