html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-links {
  background-color: #dfebeb;
  padding: 64px 0;
   width: 100%;
  height: 100%;
  display: flex;

}

.container {
  padding: 0 64px;
}

/*.footer-container {
  display: flex;
  padding: 48px;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 16px;
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  box-sizing: border-box;

}*/

.footer-content {
  /* width: 100%; */
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 16px;
  padding: 48px;
   display: flex;
}



.footer-logo-wrapper {

  gap: 24px;
  flex-direction: column;
  display: flex;
  margin-right: auto;
  width: 595px;
  text-align: left;


}

.footer-logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 1.25rem;
  color: #0d0b0a;
  text-decoration: none;
  margin-bottom: 48px;


}

.footer-logo svg {
  width: 84px;

}

.footer-logo-wrapper>p {
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  font-weight: 400;

}


.newsletter-form {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;

}

.newsletter-form input[type="email"] {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
  background-color: #0d0b0a0d;
}



.newsletter-form button {
  padding: 10px 20px;
  background-color: #0d0b0a0d;
  border: none;
  border-radius: 24px;
  color: #242424;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #3182ce;
}


.footer-logo-wrapper,
.footer-logo-wrapper-privacy-policy,
.footer-logo-wrapper-privacy-policy a {
  font-size: 12px;
  color: #0d0b0a;

}

.footer-form-bottom {
  gap: 16px;

}


.footer-quick-links,
.footer-social-links {
  min-width: 160px;
}

.footer-quick-links h3,
.footer-social-links h3 {
  font-weight: 600;
  margin-bottom: 24px;
  color: #0d0b0a;

}


/*.footer-social-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.footer-quick-links li,
.footer-social-links li {
  margin-bottom: 10px;
}*/

.footer-quick-links a,
.footer-social-links a {
  color: #0d0b0a;
  font-size: 0.95rem;
  transition: color 0.3s ease;

}

.footer-quick-links a:hover,
.footer-social-links a:hover {
  color: #3182ce;
}


.footer-social-links i {
  margin-right: 12px;
  vertical-align: middle;
  font-size: 1.1rem;
}

.social-link {
  font-size: 14px;
  padding-left: 12px;
  text-decoration: none;
  font-family: 'Sarabun';
  font-weight: 400;
}


.footer-bottom {
   margin-top: 30px;
   color: #0d0b0a;
 
}

.footer-bottom.mobile-only {
  display: none;
}



.footer-social-container {
  display: flex;
  gap: 24px;
}

.footer-logo {
  height: 36px;
}

.social-item,
.quick-links-list-item {
  height: 40px;
}

.social-link {
  display: flex;
  gap: 12px;
}

.footer-bottom-paragraph {
  font-size: 14px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .footer-container {
    flex-direction: column;
    overflow-x: hidden;
  }

 .footer-content {
    flex-direction: column;
    padding: 32px;
    gap: 48px;
  }

  .container {
    padding: 0 16px;
  }


  /*.footer-logo-wrapper,
  .footer-quick-links,
  .footer-social-links {
    min-width: auto;
    flex: none;
    padding: 32px;
  }*/

  .footer-logo-wrapper {
    width: 100%;
  }
  .footer-logo-wrapper-privacy-policy {
    line-height: 1.6;
  }

  .footer-bottom.mobile-only {
    display: block;
  }

  .footer-bottom:not(.mobile-only) {
    display: none;
  }


  .footer-social-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

    .newsletter-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1335px) {

.container {
    padding: 0 32px;
  }
  .footer-content {
    padding: 40px 32px;
    flex-direction: column;
    gap: 40px;
     
  }
 .footer-social-container {
    gap: 40px;
  }
  .footer-quick-links,
  .footer-social-links {
    flex-basis: calc((100% - 40px) / 2);
  }

  .footer-logo-wrapper {
    width: 100%;
    margin-right: 0;
  }


  .footer-bottom.mobile-only {
    display: block;
  }

  .footer-bottom:not(.mobile-only) {
    display: none;
  }

  /*.footer-social-container {

    justify-content: left;
  }*/



}