

.container.hero-container {
  padding: 0;
}

.hero-content {
  display: flex;
  padding: 48px 0px;
  gap: 20px;
  flex-wrap: wrap;
}

.hero-title {
  font-family: 'Cabin';
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #0d0b0a;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top:24px;
}

.button-pricing,
.button-gallery {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #0d0b0a;
  text-decoration: none;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  max-width: 329px;
  height: 46px;
  background-color: #c2d9fc;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button-gallery {
  border:none;
background-color: rgba(13, 11, 10, 0.05);
}

@media screen and (min-width: 768px) {
  .hero-content {
    padding: 24px 0px;
    gap: 8px;
  }

.hero-title-container {
    max-width: 423px;
  }

  .hero-descr {
    max-width: 641px;
  }

  .hero-text {
    font-size: 18px;
  }

  .hero-buttons {
    flex-direction: row;
    padding-top: 32px;
  }

  .button-pricing,
  .button-gallery {
    width: 144px;
  }
}

@media screen and (min-width: 1336px) {
  .hero-content {
    padding: 80px 0px;
    gap: 24px;
    flex-wrap: nowrap;
  }

  .hero-title-container {
    max-width: 644px;
  }

  .hero-title {
    font-size: 72px;
  }

  .hero-descr {
    max-width: 641px;
  }

  .hero-buttons {
    display: flex;
    gap: 16px;
    padding-top: 32px;
  }

  .button-pricing{
    width: 128px;
}
}