
.section-testimonials {
    padding: 64px 0;
}

.testimonials-title {
    font-family:"Cabin", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 20px;
}

.testimonials-subtitle {
    font-size: 18px;
    line-height: 1.60;
    text-align: center;
    margin-bottom: 24px;
}

.testimonials-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.testimonials-list-item {
    border-radius: 24px;
    padding: 12px;
    background-color: #dfebeb;
}

.testimonial-text {
    font-size: 22px;
    line-height: 1.60;
    text-align: center;
}

.reviewer {
margin-top: 32px;
    border-radius: 100%;
    justify-self: center;
}

.reviewer-name {
    margin-top: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.60;
    text-align: center;
}

.reviewer-position {
    line-height: 1.50;
    text-align: center;
}
/*Tablet*/
@media screen and (min-width: 768px) {
.section-testimonials {
    padding: 40px 0;
    }
    .testimonials-title {
    font-size: 40px;
    margin-bottom: 24px;
    }
.testimonials-list-item:first-child {
    padding: 29px 12px;}

.testimonials-list-item:nth-child(2) .reviewer{
    margin-top: 102px;
}
.testimonials-list-item:nth-child(3) .reviewer{
    margin-top: 67px;
}
}
@media screen and (min-width: 1336px) {
    .testimonials-title{
        font-size: 52px;
    }
.section-testimonials {
        padding: 112px 0;
    }
.testimonials-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.testimonials-list-item:first-child{
    padding: 12px;
}
.testimonials-list-item{
    flex-basis: calc((100% - 24px) / 2);
}
.testimonials-list-item:nth-child(2) .reviewer {
    margin-top: 100px;
}
.testimonials-list-item:nth-child(3) .reviewer {
    margin-top: 65px;
}
}