<footer class="footer-links section" id="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <div class="footer-logo-wrapper">
        <a
          class="footer-logo logo"
          href="./index.html"
          aria-label="YogaBloom Home"
        >
          <svg
            class="icon-logo"
            viewBox="0 0 74 32"
            aria-hidden="true"
            focusable="false"
          >
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <p>
          Subscribe to our newsletter for the latest updates on our yoga classes
          and events.
        </p>
        <div class="footer-form-bottom">
          <form class="newsletter-form" action="#" method="post">
            <input
              type="email"
              name="email"
              placeholder="Placeholder"
              required
              pattern="([A-Za-z0-9_.-]{1,})@([A-Za-z0-9_.-]{1,})\.([A-Za-z]{2,8})"
              title="Please enter a valid email address"
            />
            <button type="submit">Join</button>
          </form>

          <p class="footer-logo-wrapper-privacy-policy">
            By subscribing, you consent to our
            <a href="/privacy-policy.html">Privacy Policy</a> and agree to
            receive updates.
          </p>
        </div>
        <div class="footer-bottom">
          <p class="footer-bottom-paragraph">
            © 2025 Yoga Studio. All rights reserved.
          </p>
        </div>
      </div>

      <div class="footer-social-container">
        <div class="footer-quick-links">
          <h3>Quick Links</h3>
          <ul class="quick-links-list">
            <li class="quick-links-list-item">
              <a href="#yoga-classes">Yoga Classes</a>
            </li>
            <li class="quick-links-list-item"><a href="#team">Team</a></li>
            <li class="quick-links-list-item">
              <a href="#pricing">Pricing</a>
            </li>
            <li class="quick-links-list-item">
              <a href="#contacts">Contacts</a>
            </li>
          </ul>
        </div>

        <div class="footer-social-links">
          <h3>Connect With Us</h3>
          <ul class="social-links-list">
            <li class="social-item">
              <a
                class="social-link"
                href="https://www.facebook.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="social-icons"
                  width="24"
                  height="24"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
                Facebook
              </a>
            </li>

            <li class="social-item">
              <a
                class="social-link"
                href="https://www.instagram.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="social-icons"
                  width="24"
                  height="24"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
                Instagram
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href="https://www.linkedin.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="social-icons"
                  width="24"
                  height="24"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="./img/icons.svg#icon-linkedIn"></use>
                </svg>
                LinkedIn
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href="https://www.youtube.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="social-icons"
                  width="24"
                  height="24"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
                Youtube
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom mobile-only">
        <p class="footer-bottom-paragraph">
          &copy; 2025 Yoga Studio. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
