<section class="gallery-section" id="gallery">
    <div class="container">
        <h2 class="gallery-title">Breathe in the Space</h2>
        <p class="gallery-text">
            Step inside YogaBloom and feel the calm. Explore our serene studio and
            the peaceful moments our community shares during each session.
        </p>
   
        <ul class="gallery-list">
            <li class="gallery-item">
                <picture>
                    <source srcset="../img/yoga-one-mobile.jpg 1x, ../img/yoga-one.jpg 2x" />
                    <img src="../img/yoga-one-mobile.jpg" alt="Йога-поза 1" />
                </picture>
            </li>
            <li class="gallery-item">
                <picture>
                    <source srcset="../img/yoga-two-mobile.jpg 1x, ../img/yoga-two.jpg 2x" />
                    <img src="../img/yoga-two-mobile.jpg" alt="Йога-поза 2" />
                </picture>
            </li>
            <li class="gallery-item">
                <picture>
                    <source srcset="../img/yoga-three-mobile.jpg 1x, ../img/yoga-three.jpg 2x" />
                    <img src="../img/yoga-three-mobile.jpg" alt="Йога-поза 3" />
                </picture>
            </li>
            <li class="gallery-item">
                <picture>
                    <source srcset="../img/yoga-four-mobile.jpg 1x, ../img/yoga-four.jpg 2x" />
                    <img src="../img/yoga-four-mobile.jpg" alt="Йога-поза 4" />
                </picture>
            </li>
            <li class="gallery-item">
                <picture>
                    <source srcset="../img/yoga-five-mobile.jpg 1x, ../img/yoga-five.jpg 2x" />
                    <img src="../img/yoga-five-mobile.jpg" alt="Йога-поза 5" />
                </picture>
            </li>
            <li class="gallery-item">
                <picture>
                    <source srcset="../img/yoga-six-mobile.jpg 1x, ../img/yoga-six.jpg 2x" />
                    <img src="../img/yoga-six-mobile.jpg" alt="Йога-поза 6" />
                </picture>
            </li>
        </ul>

    </section>
    </div>
</section>