<!--my section -->
<section class="gallery-section" id="gallery">
  <div class="container gallery-container">
    <div class="gallery-text-wrapper">
      <h2 class="gallery-title">Breathe in the Space</h2>
      <p class="gallery-text">
        Step inside YogaBloom and feel the calm. Explore our serene studio and
        the peaceful moments our community shares during each session.
      </p>
    </div>

    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/webp/yoga-one.webp    1x,
              ./img/gallery/webp/yoga-one-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/yoga-one.jpg    1x,
              ./img/gallery/yoga-one-2x.jpg 2x
            "
          />
          <img
            src="./img/gallery/yoga-one.jpg"
            alt="Йога-поза 1"
            width="156"
            height="156"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/webp/yoga-two.webp    1x,
              ./img/gallery/webp/yoga-two-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/yoga-two.jpg    1x,
              ./img/gallery/yoga-two-2x.jpg 2x
            "
          />
          <img
            src="./img/gallery/yoga-two.jpg"
            alt="Йога-поза 2"
            width="156"
            height="156"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/webp/yoga-three.webp    1x,
              ./img/gallery/webp/yoga-three-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/yoga-three.jpg    1x,
              ./img/gallery/yoga-three-2x.jpg 2x
            "
          />
          <img
            src="./img/gallery/yoga-three.jpg"
            alt="Йога-поза 3"
            width="156"
            height="156"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/webp/yoga-four.webp    1x,
              ./img/gallery/webp/yoga-four-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/yoga-four.jpg    1x,
              ./img/gallery/yoga-four-2x.jpg 2x
            "
          />
          <img
            src="./img/gallery/yoga-four.jpg"
            alt="Йога-поза 4"
            width="156"
            height="156"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/webp/yoga-five.webp 1x,
              ./img/gallery/yoga-five-2x.webp   2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/yoga-five.jpg    1x,
              ./img/gallery/yoga-five-2x.jpg 2x
            "
          />
          <img
            src="./img/gallery/yoga-five.jpg"
            alt="Йога-поза 5"
            width="156"
            height="156"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/webp/yoga-six.webp    1x,
              ./img/gallery/webp/yoga-six-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/yoga-six.jpg    1x,
              ./img/gallery/yoga-six-2x.jpg 2x
            "
          />
          <img
            src="./img/gallery/yoga-six.jpg"
            alt="Йога-поза 6"
            width="156"
            height="156"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
