
<section class="gallery-section" id="gallery">
    <div class="gallery-container">
        <h2 class="gallery-title">Breathe in the Space</h2>
        <p class="gallery-text">
            Step inside YogaBloom and feel the calm. Explore our serene studio and
            the peaceful moments our community shares during each session.
        </p>
   
        <ul class="gallery-list">
            <li class="gallery-item">
                <picture>
                    <source srcset="../img/yoga-one.jpg 2x" media="(min-width: 768px)" />
                    <img src="../img/yoga-one-mobile.jpg" srcset="../img/yoga-one.jpg 2x"
                     alt="Йога-поза 1"
                     width="156"
                     height="156" />
                </picture>
            </li>
        
            <li class="gallery-item">
                <picture>
                    <source srcset="../img/yoga-two.jpg 2x" media="(min-width: 768px)" />
                    <img src="../img/yoga-two-mobile.jpg" srcset="../img/yoga-two.jpg 2x" alt="Йога-поза 2" width="156"
                        height="156" />
                </picture>
            </li>
        
            <li class="gallery-item">
                <picture>
                    <source srcset="../img/yoga-three.jpg 2x" media="(min-width: 768px)" />
                    <img src="../img/yoga-three-mobile.jpg" srcset="../img/yoga-three.jpg 2x" alt="Йога-поза 3" width="156"
                        height="156" />
                </picture>
            </li>
        
            <li class="gallery-item">
                <picture>
                    <source srcset="../img/yoga-four.jpg 2x" media="(min-width: 768px)" />
                    <img src="../img/yoga-four-mobile.jpg" srcset="../img/yoga-four.jpg 2x" alt="Йога-поза 4" width="156"
                        height="156" />
                </picture>
            </li>
        
            <li class="gallery-item">
                <picture>
                    <source srcset="../img/yoga-five.jpg 2x" media="(min-width: 768px)" />
                    <img src="../img/yoga-five-mobile.jpg" srcset="../img/yoga-five.jpg 2x" alt="Йога-поза 5" width="156"
                        height="156" />
                </picture>
            </li>
        
            <li class="gallery-item">
                <picture>
                    <source srcset="../img/yoga-six.jpg 2x" media="(min-width: 768px)" />
                    <img src="../img/yoga-six-mobile.jpg" srcset="../img/yoga-six.jpg 2x" alt="Йога-поза 6" width="156"
                        height="156" />
                </picture>
            </li>
        </ul>
        </div>
        </section>
  