<header class="header">
  <div class="container header-container">
    <nav class="header-desctop-navigation">
      <ul class="header-navigation-list">
        <li class="header-navigation-list-item">
          <a href="#yoga-classes" class="header-navigation-list-item-link"
            >Yoga Classes</a
          >
        </li>
        <li class="header-navigation-list-item">
          <a href="#team" class="header-navigation-list-item-link">Team</a>
        </li>
        <li class="header-navigation-list-item">
          <a href="#testimonials" class="header-navigation-list-item-link"
            >Testimonials</a
          >
        </li>
        <li class="header-navigation-list-item">
          <a href="#pricing" class="header-navigation-list-item-link"
            >Pricing</a
          >
        </li>
        <li class="header-navigation-list-item">
          <a href="#footer" class="header-navigation-list-item-link"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="mobile-menu-open-btn"
      aria-label="Open mobile menu"
    >
      <svg width="24" height="24" class="hamburger-menu-icon">
        <use href="./img/icons.svg#icon-hamburger-menu"></use>
      </svg>
    </button>
    <a href="index.html" class="header-link-logo">
      <svg width="84" height="36">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="button-wrapper-header">
      <button type="button" class="button header-button">
        Join <span class="header-button-span">Now</span>
      </button>
    </div>
  </div>

  <!-- Mobile-menu -->
  <div class="mobile-menu">
    <div class="container mobile-menu-container">
      <div class="mobile-menu-header">
        <button type="button" class="pop-up-close-btn">
          <svg width="24" height="24">
            <use href="./img/icons.svg#icon-close-button"></use>
          </svg>
        </button>
        <a href="index.html" class="header-link-logo">
          <svg width="84" height="36">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <button type="button" class="button header-button">
          Join <span class="mobile-menu-button-tablet-span">Now</span>
        </button>
      </div>
      <nav class="mobile-menu-navigation">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-list-item">
            <a class="mobile-menu-list-link" href="#yoga-classes"
              >Yoga Classes</a
            >
          </li>
          <li class="mobile-menu-list-item">
            <a class="mobile-menu-list-link" href="#team">Team</a>
          </li>
          <li class="mobile-menu-list-item">
            <a class="mobile-menu-list-link" href="#testimonials"
              >Testimonials</a
            >
          </li>
          <li class="mobile-menu-list-item">
            <a class="mobile-menu-list-link" href="#pricing">Pricing</a>
          </li>
          <li class="mobile-menu-list-item">
            <a class="mobile-menu-list-link" href="#footer">Contacts</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="button mobile-menu-button">Join now</button>
    </div>
  </div>
</header>
