<section class="hero">
  <picture>
    <source
      srcset="./img/hero/hero-img.jpg 1x, ./img/hero/hero-img@2x.jpg 2x"
    />
    <img
      src="./img/hero/hero-img.jpg"
      alt="Yoga Class"
      class="hero-image"
      decoding="async"
    />
  </picture>
  <div class="container">
    <div class="hero-content">
      <div class="hero-title-container">
        <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
      </div>
      <div class="hero-descr">
        <p class="hero-text">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>
        <div class="hero-buttons">
          <button class="button button-pricing">Join Now</button>
          <button class="button button-gallery">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</section>
