<!-- Checkout Modal 10 -->
<div class="backdrop modal-10" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-icon-close" width="32" height="32">
        <use href="/img/icons.svg#icon-close-button"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-sessions">One Session</p>
    <p class="modal-price">$10</p>
    <form class="modal-form">
      <div class="modal-form-field">
        <label class="modal-iput-lable" for="user-name-10"> Your Name </label>
        <div class="modal-input-wrapper">
          <input
            id="user-name-10"
            type="text"
            name="user-name"
            class="modal-field-input"
            placeholder="Placeholder"
          />
        </div>
      </div>
      <div class="modal-form-row">
        <div class="modal-form-field">
          <label class="modal-iput-lable" for="email-10"> Email </label>
          <div class="modal-input-wrapper">
            <input
              id="email-10"
              type="text"
              name="email-10"
              class="modal-field-input"
              placeholder="Placeholder"
            />
          </div>
        </div>
        <div class="modal-form-field">
          <label class="modal-iput-lable" for="phone-10"> Phone number </label>
          <div class="modal-input-wrapper">
            <input
              id="phone-10"
              type="text"
              name="phone-10"
              class="modal-field-input"
              placeholder="Placeholder"
              required
            />
          </div>
        </div>
      </div>
      <button type="submit" class="modal-field-btn-send">Go to checkout</button>
    </form>
  </div>
</div>

<!-- Checkout Modal 65 -->
<div class="backdrop modal-65" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-icon-close" width="32" height="32">
        <use href="/img/icons.svg#icon-close-button"></use>
      </svg>
    </button>
    <p class="modal-title">Join Now!</p>
    <p class="modal-sessions">8 Sessions Package</p>
    <p class="modal-price">$65</p>
    <form class="modal-form">
      <div class="modal-form-field">
        <label class="modal-iput-lable" for="user-name-65"> Your Name </label>
        <div class="modal-input-wrapper">
          <input
            id="user-name-65"
            type="text"
            name="user-name-65"
            class="modal-field-input"
            placeholder="Placeholder"
          />
        </div>
      </div>
      <div class="modal-form-row">
        <div class="modal-form-field">
          <label class="modal-iput-lable" for="email-65"> Email </label>
          <div class="modal-input-wrapper">
            <input
              id="email-65"
              type="text"
              name="email-65"
              class="modal-field-input"
              placeholder="Placeholder"
            />
          </div>
        </div>
        <div class="modal-form-field">
          <label class="modal-iput-lable" for="phone-65"> Phone number </label>
          <div class="modal-input-wrapper">
            <input
              id="phone-65"
              type="text"
              name="phone-65"
              class="modal-field-input"
              placeholder="Placeholder"
              required
            />
          </div>
        </div>
      </div>
      <button type="submit" class="modal-field-btn-send">Go to checkout</button>
    </form>
  </div>
</div>

<!-- Checkout Modal 80 -->
<div class="backdrop modal-80" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-icon-close" width="32" height="32">
        <use href="/img/icons.svg#icon-close-button"></use>
      </svg>
    </button>
    <p class="modal-title">Join Now!</p>
    <p class="modal-sessions">12 Sessions Package</p>
    <p class="modal-price">$80</p>
    <form class="modal-form">
      <div class="modal-form-field">
        <label class="modal-iput-lable" for="user-name-80"> Your Name </label>
        <div class="modal-input-wrapper">
          <input
            id="user-name-80"
            type="text"
            name="user-name"
            class="modal-field-input"
            placeholder="Placeholder"
          />
        </div>
      </div>
      <div class="modal-form-row">
        <div class="modal-form-field">
          <label class="modal-iput-lable" for="email-80"> Email </label>
          <div class="modal-input-wrapper">
            <input
              id="email-80"
              type="text"
              name="email-80"
              class="modal-field-input"
              placeholder="Placeholder"
            />
          </div>
        </div>
        <div class="modal-form-field">
          <label class="modal-iput-lable" for="phone-80"> Phone number </label>
          <div class="modal-input-wrapper">
            <input
              id="phone-80"
              type="text"
              name="phone-80"
              class="modal-field-input"
              placeholder="Placeholder"
              required
            />
          </div>
        </div>
      </div>
      <button type="submit" class="modal-field-btn-send">Go to checkout</button>
    </form>
  </div>
</div>
