<div class="backdrop is-open" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class=".modal-icon-close" width="32" height="32">
        <use href="/img/icons.svg#icon-close-button"></use>
      </svg>
    </button>
    <p class="modal-title">Join Now!</p>
    <p class="modal-sessions">One Session</p>
    <p class="modal-price">$10</p>
    <form class="modal-form">
      <div class="modal-form-field">
        <label class="modal-iput-lable" for="user-name"> Your Name </label>
        <div class="modal-input-wrapper">
          <input
            id="user-name"
            type="text"
            name="user-name"
            class="modal-field-input"
            placeholder="Placeholder"
          />
        </div>
      </div>

      <div class="modal-form-field">
        <label class="modal-iput-lable" for="email"> Email </label>
        <div class="modal-input-wrapper">
          <input
            id="email"
            type="text"
            name="email"
            class="modal-field-input"
            placeholder="Placeholder"
          />
        </div>
      </div>
      <div class="modal-form-field">
        <label class="modal-iput-lable" for="phone"> Phone number </label>
        <div class="modal-input-wrapper">
          <input
            id="phone"
            type="text"
            name="phone"
            class="modal-field-input"
            placeholder="Placeholder"
          />
        </div>
      </div>
      <button type="submit" class="modal-field-btn-send">Go to checkout</button>
    </form>
  </div>
</div>
