<section class="pricing-section" id="pricing">
  <div class="container pricing-container">
    <p class="pricing-tagline">Affordable</p>
    <h2 class="pricin-title">Pricing Plans</h2>
    <p class="pricing-choice-text">
      Choose the perfect plan for your yoga journey.
    </p>
    <ul class="pricing-list">
      <li class="pricing-list-item">
        <p class="pricing-course">One Session</p>
        <p class="pricing-course-price">$10</p>
        <ul class="pricing-course-list">
          <li class="pricing-course-benefit">
            <svg class="pricing-checkmark" width="24" height="24">
              <use href="/img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="pricing-course-benefit-text">1 group session</p>
          </li>
          <li class="pricing-course-benefit">
            <svg class="pricing-checkmark" width="24" height="24">
              <use href="/img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="pricing-course-benefit-text">
              10% discount for next 2 Sessions
            </p>
          </li>
          <li class="pricing-course-benefit">
            <svg class="pricing-checkmark" width="24" height="24">
              <use href="/img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="pricing-course-benefit-text">Community support group</p>
          </li>
        </ul>
        <button type="button" class="pricing-button">Join</button>
      </li>
      <li class="pricing-list-item">
        <p class="pricing-course">8 Sessions Package</p>
        <p class="pricing-course-price">$65</p>
        <ul class="pricing-course-list">
          <li class="pricing-course-benefit">
            <svg class="pricing-checkmark" width="24" height="24">
              <use href="/img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="pricing-course-benefit-text">6 Group Sessions</p>
          </li>
          <li class="pricing-course-benefit">
            <svg class="pricing-checkmark" width="24" height="24">
              <use href="/img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="pricing-course-benefit-text">2 Individual Sessions</p>
          </li>
          <li class="pricing-course-benefit">
            <svg class="pricing-checkmark" width="24" height="24">
              <use href="/img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="pricing-course-benefit-text">Community support group</p>
          </li>
        </ul>
        <button type="button" class="pricing-button">Join</button>
      </li>
      <li class="pricing-list-item">
        <div class="pricing-list-last-text">
          <p class="pricing-course">12 Sessions Package</p>
          <p class="pricing-course-price">$80</p>
          <button type="button" class="pricing-button-tablet">Join</button>
        </div>

        <ul class="pricing-course-list">
          <li class="pricing-course-benefit">
            <svg class="pricing-checkmark" width="24" height="24">
              <use href="/img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="pricing-course-benefit-text">8 Group Sessions</p>
          </li>
          <li class="pricing-course-benefit">
            <svg class="pricing-checkmark" width="24" height="24">
              <use href="/img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="pricing-course-benefit-text">4 Individual Sessions</p>
          </li>
          <li class="pricing-course-benefit">
            <svg class="pricing-checkmark" width="24" height="24">
              <use href="/img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="pricing-course-benefit-text">Monthly yoga challenges</p>
          </li>
          <li class="pricing-course-benefit">
            <svg class="pricing-checkmark" width="24" height="24">
              <use href="/img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="pricing-course-benefit-text">
              Exclusive member discounts
            </p>
          </li>
          <li class="pricing-course-benefit">
            <svg class="pricing-checkmark" width="24" height="24">
              <use href="/img/icons.svg#icon-checkmark"></use>
            </svg>
            <p class="pricing-course-benefit-text">Community support group</p>
          </li>
        </ul>
        <button type="button" class="pricing-button">Join</button>
      </li>
    </ul>
  </div>
</section>
