<section class="team" id="team">
  <div class="container">
    <div class="team-info">
      <h2 class="team-title">Meet</h2>
      <h3 class="team-subtitle">Our Team</h3>
      <p class="team-text">
        Dedicated professionals passionate about yoga and wellness.
      </p>
    </div>
    <ul class="team-list">
      <li class="team-list-item">
        <picture class="team-img">
          <source
            srcset="
              ./img/team/webp/team-liam-mob-1x.webp 1x,
              ./img/team/webp/team-liam-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./img/team/team-liam-mob-1x.png 1x,
              ./img/team/team-liam-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./img/team/webp/liam-tab-1x.webp 1x,
              ./img/team/webp/liam-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px) and (max-width:1335px)"
          />

          <source
            srcset="
              ./img/team/liam-tab-1x.png 1x,
              ./img/team/liam-tab-2x.png 2x
            "
            media="(min-width:768px) and (max-width:1335px)"
          />

          <source
            srcset="
              ./img/team/webp/liam-desk-1x.webp 1x,
              ./img/team/webp/liam-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1336px)"
          />
          <source
            srcset="
              ./img/team/liam-desk-1x.png 1x,
              ./img/team/liam-desk-2x.png 2x
            "
            media="(min-width:1336px)"
          />
          <img
            src="./img/team/liam-mob-1x.png"
            alt="Yoga Instructor Liam"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="team-card">
          <h2 class="team-card-title">Liam Johnson</h2>
          <p class="team-card-subtitle">Yoga Instructor</p>
          <p class="team-card-text">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
          <ul class="team-social">
            <li class="team-social-item">
              <a
                class="team-social-link"
                href="https://www.linkedin.com"
                target="_blank"
              >
                <svg class="team-social-icon" width="25" height="24">
                  <use href="./img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a
                class="team-social-link"
                href="https://www.instagram.com"
                target="_blank"
              >
                <svg class="team-social-icon" width="25" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-list-item">
        <picture class="team-img">
          <source
            srcset="
              ./img/team/webp/team-emma-mob-1x.webp 1x,
              ./img/team/webp/team-emma-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./img/team/team-emma-mob-1x.png 1x,
              ./img/team/team-emma-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./img/team/webp/emma-tab-1x.webp 1x,
              ./img/team/webp/emma-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px) and (max-width:1335px)"
          />
          <source
            srcset="
              ./img/team/emma-tab-1x.png 1x,
              ./img/team/emma-tab-2x.png 2x
            "
            media="(min-width:768px) and (max-width:1335px)"
          />

          <source
            srcset="
              ./img/team/webp/emma-desk-1x.webp 1x,
              ./img/team/webp/emma-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1336px)"
          />
          <source
            srcset="
              ./img/team/emma-desk-1x.png 1x,
              ./img/team/emma-desk-2x.png 2x
            "
            media="(min-width:1336px)"
          />
          <img
            src="./img/team/team-emma-mob-1x.png"
            alt="Meditation Coach Emma"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="team-card">
          <h2 class="team-card-title">Emma Stone</h2>
          <p class="team-card-subtitle">Meditation Coach</p>
          <p class="team-card-text">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-social">
            <li class="team-social-item">
              <a
                class="team-social-link"
                href="https://www.linkedin.com"
                target="_blank"
              >
                <svg class="team-social-icon" width="25" height="24">
                  <use href="./img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <picture class="team-img">
          <source
            srcset="
              ./img/team/webp/team-sophia-mob-1x.webp 1x,
              ./img/team/webp/team-sophia-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./img/team/team-sophia-mob-1x.png 1x,
              ./img/team/team-sophia-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./img/team/webp/sophia-tab-1x.webp  1x,
              ./img/team//webp/sophia-tab-2x.webp 2x
            "
            media="(min-width:768px) and (max-width:1335px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/team/sophia-tab-1x.png 1x,
              ./img/team/sophia-tab-2x.png 2x
            "
            media="(min-width:768px) and (max-width:1335px)"
          />

          <source
            srcset="
              ./img/team/webp/sophia-desk-1x.webp 1x,
              ./img/team/webp/sophia-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1336px)"
          />
          <source
            srcset="
              ./img/team/sophia-desk-1x.png 1x,
              ./img/team/sophia-desk-2x.png 2x
            "
            media="(min-width:1336px)"
          />
          <img
            src="./img/team/team-sophia-mob-1x.png"
            alt="Pilates Trainer Sophia"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="team-card">
          <h2 class="team-card-title">Sophia Lee</h2>
          <p class="team-card-subtitle">Pilates Trainer</p>
          <p class="team-card-text">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
          <ul class="team-social">
            <li class="team-social-item">
              <a
                class="team-social-link"
                href="https://www.instagram.com"
                target="_blank"
              >
                <svg class="team-social-icon" width="25" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <picture class="team-img">
          <source
            srcset="
              ./img/team/webp/team-noah-mob-1x.webp 1x,
              ./img/team/webp/team-noah-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./img/team/team-noah-mob-1x.png 1x,
              ./img/team/team-noah-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./img/team/webp/noah-tab-1x.webp 1x,
              ./img/team/webp/noah-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px) and (max-width:1335px)"
          />
          <source
            srcset="
              ./img/team/noah-tab-1x.png 1x,
              ./img/team/noah-tab-2x.png 2x
            "
            media="(min-width:768px) and (max-width:1335px)"
          />

          <source
            srcset="
              ./img/team/webp/noah-desk-1x.webp 1x,
              ./img/team/webp/noah-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1336px)"
          />
          <source
            srcset="
              ./img/team/noah-desk-1x.png 1x,
              ./img/team/noah-desk-2x.png 2x
            "
            media="(min-width:1336px)"
          />
          <img
            src="./img/team/team-noah-mob-1x.png"
            alt="Yoga Therapist Noah"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="team-card">
          <h2 class="team-card-title">Noah Brown</h2>
          <p class="team-card-subtitle">Yoga Therapist</p>
          <p class="team-card-text">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
          <ul class="team-social">
            <li class="team-social-item">
              <a
                class="team-social-link"
                href="https://www.linkedin.com"
                target="_blank"
              >
                <svg class="team-social-icon" width="25" height="24">
                  <use href="./img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-list-item">
        <picture class="team-img">
          <source
            srcset="
              ./img/team/webp/team-ava-mob-1x.webp 1x,
              ./img/team/webp/team-ava-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./img/team/team-ava-mob-1x.png 1x,
              ./img/team/team-ava-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./img/team/webp/ava-tab-1x.webp 1x,
              ./img/team/webp/ava-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px) and (max-width:1335px)"
          />
          <source
            srcset="./img/team/ava-tab-1x.png 1x, ./img/team/ava-tab-2x.png 2x"
            media="(min-width:768px) and (max-width:1335px)"
          />

          <source
            srcset="
              ./img/team/webp/ava-desk-1x.webp 1x,
              ./img/team/webp/ava-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1336px)"
          />
          <source
            srcset="
              ./img/team/ava-desk-1x.png 1x,
              ./img/team/ava-desk-2x.png 2x
            "
            media="(min-width:1336px)"
          />
          <img
            src="./img/team/team-ava-mob-1x.png"
            alt="Fitness Trainer Ava"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="team-card">
          <h2 class="team-card-title">Ava Green</h2>
          <p class="team-card-subtitle">Fitness Trainer</p>
          <p class="team-card-text">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
          <ul class="team-social">
            <li class="team-social-item">
              <a
                class="team-social-link"
                href="https://www.facebook.com"
                target="_blank"
              >
                <svg class="team-social-icon" width="25" height="24">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a
                class="team-social-link"
                href="https://www.instagram.com"
                target="_blank"
              >
                <svg class="team-social-icon" width="25" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a
                class="team-social-link"
                href="https://www.linkedin.com"
                target="_blank"
              >
                <svg class="team-social-icon" width="25" height="24">
                  <use href="./img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <picture class="team-img">
          <source
            srcset="
              ./img/team/webp/team-clark-mob-1x.webp 1x,
              ./img/team/webp/team-clark-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./img/team/team-clark-mob-1x.png 1x,
              ./img/team/team-clark-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />

          <source
            srcset="
              ./img/team/webp/clark-tab-1x.webp 1x,
              ./img/team/webp/clark-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px) and (max-width:1335px)"
          />
          <source
            srcset="
              ./img/team/clark-tab-1x.png 1x,
              ./img/team/clark-tab-2x.png 2x
            "
            media="(min-width:768px) and (max-width:1335px)"
          />

          <source
            srcset="
              ./img/team/webp/clark-desk-1x.webp 1x,
              ./img/team/webp/clark-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1336px)"
          />
          <source
            srcset="
              ./img/team/clark-desk-1x.png 1x,
              ./img/team/clark-desk-2x.png 2x
            "
            media="(min-width:1336px)"
          />
          <img
            src="./img/team/team-clark-mob-1x.png"
            alt="Fitness Trainer Clark"
            loading="lazy"
            decoding="async"
          />
        </picture>
        <div class="team-card">
          <h2 class="team-card-title">Clark Thomas</h2>
          <p class="team-card-subtitle">Fitness Trainer</p>
          <p class="team-card-text">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-social">
            <li class="team-social-item">
              <a
                class="team-social-link"
                href="https://www.facebook.com"
                target="_blank"
              >
                <svg class="team-social-icon" width="25" height="24">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a
                class="team-social-link"
                href="https://www.instagram.com"
                target="_blank"
              >
                <svg class="team-social-icon" width="25" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
