<section class="team" id="team">
  <div class="container">
    <div class="team-info">
      <h2 class="team-title">Meet</h2>
      <h3 class="team-subtitle">Our Team</h3>
      <p class="team-text">
        Dedicated professionals passionate about yoga and wellness.
      </p>
    </div>
    <ul class="team-list">
      <li class="team-list-item">
        <picture class="team-img">
          <img src="../img/team-liam-narrow.png" alt="Yoga Instructor Liam" />
          <source
            srcset="
              ../img/team-liam-mob-1x.png 1x,
              ../img/team-liam-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="../img/liam-tab-1x.png 1x, ../img/liam-tab-2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="../img/liam-desk-1x.png 1x, ../img/liam-desk-2x.png 2x"
            media="(min-width:1336px)"
          />
        </picture>
        <div class="team-card">
          <h2 class="team-card-title">Liam Johnson</h2>
          <p class="team-card-subtitle">Yoga Instructor</p>
          <p class="team-card-text">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
          <ul class="team-social">
            <li class="team-social-item">
              <a class="team-social-link" href="https://www.linkedin.com">
                <svg class="team-social-icon" width="25" height="24">
                  <use href="../img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a class="team-social-link" href="https://www.instagram.com">
                <svg class="team-social-icon" width="25" height="24">
                  <use href="../img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-list-item">
        <picture class="team-img">
          <img src="../img/team-emma-narrow.png" alt="Meditation Coach Emma" />
          <source
            srcset="
              ../img/team-emma-mob-1x.png 1x,
              ../img/team-emma-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="../img/emma-tab-1x.png 1x, ../img/emma-tab-2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="../img/emma-desk-1x.png 1x, ../img/emma-desk-2x.png 2x"
            media="(min-width:1336px)"
          />
        </picture>
        <div class="team-card">
          <h2 class="team-card-title">Emma Stone</h2>
          <p class="team-card-subtitle">Meditation Coach</p>
          <p class="team-card-text">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-social">
            <li class="team-social-item">
              <a class="team-social-link" href="https://www.linkedin.com">
                <svg class="team-social-icon" width="25" height="24">
                  <use href="../img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <picture class="team-img">
          <img
            src="../img/team-sophia-narrow.png"
            alt="Pilates Trainer Sophia"
          />
          <source
            srcset="
              ../img/team-sophia-mob-1x.png 1x,
              ../img/team-sophia-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="../img/sophia-tab-1x.png 1x, ../img/sophia-tab-2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="../img/sophia-desk-1x.png 1x, ../img/sophia-desk-2x.png 2x"
            media="(min-width:1336px)"
          />
        </picture>
        <div class="team-card">
          <h2 class="team-card-title">Sophia Lee</h2>
          <p class="team-card-subtitle">Pilates Trainer</p>
          <p class="team-card-text">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
          <ul class="team-social">
            <li class="team-social-item">
              <a class="team-social-link" href="https://www.instagram.com">
                <svg class="team-social-icon" width="25" height="24">
                  <use href="../img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <picture class="team-img">
          <img src="../img/team-noah-narrow.png" alt="Yoga Therapist Noah" />
          <source
            srcset="
              ../img/team-noah-mob-1x.png 1x,
              ../img/team-noah-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="../img/noah-tab-1x.png 1x, ../img/noah-tab-2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="../img/noah-desk-1x.png 1x, ../img/noah-desk-2x.png 2x"
            media="(min-width:1336px)"
          />
        </picture>
        <div class="team-card">
          <h2 class="team-card-title">Noah Brown</h2>
          <p class="team-card-subtitle">Yoga Therapist</p>
          <p class="team-card-text">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
          <ul class="team-social">
            <li class="team-social-item">
              <a class="team-social-link" href="https://www.linkedin.com">
                <svg class="team-social-icon" width="25" height="24">
                  <use href="../img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-list-item">
        <picture class="team-img">
          <img src="../img/team-ava-narrow.png" alt="Fitness Trainer Ava" />
          <source
            srcset="
              ../img/team-ava-mob-1x.png 1x,
              ../img/team-ava-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <source srcset="../img/ava-tab-1x.png 1x, ../img/ava-tab-2x.png 2x" />
          <source
            srcset="../img/ava-desk-1x.png 1x, ../img/ava-desk-2x.png 2x"
            media="(min-width:1336px)"
          />
        </picture>
        <div class="team-card">
          <h2 class="team-card-title">Ava Green</h2>
          <p class="team-card-subtitle">Fitness Trainer</p>
          <p class="team-card-text">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
          <ul class="team-social">
            <li class="team-social-item">
              <a class="team-social-link" href="https://www.facebook.com">
                <svg class="team-social-icon" width="25" height="24">
                  <use href="../img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a class="team-social-link" href="https://www.instagram.com">
                <svg class="team-social-icon" width="25" height="24">
                  <use href="../img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a class="team-social-link" href="https://www.linkedin.com">
                <svg class="team-social-icon" width="25" height="24">
                  <use href="../img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <picture class="team-img">
          <img src="../img/team-clark-narrow.png" alt="Fitness Trainer Clark" />
          <source
            srcset="
              ../img/team-clark-mob-1x.png 1x,
              ../img/team-clark-mob-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="../img/clark-tab-1x.png 1x, ../img/clark-tab-2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="../img/clark-desk-1x.png 1x, ../img/clark-desk-2x.png 2x"
            media="(min-width:1336px)"
          />
        </picture>
        <div class="team-card">
          <h2 class="team-card-title">Clark Thomas</h2>
          <p class="team-card-subtitle">Fitness Trainer</p>
          <p class="team-card-text">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-social">
            <li class="team-social-item">
              <a class="team-social-link" href="https://www.facebook.com">
                <svg class="team-social-icon" width="25" height="24">
                  <use href="../img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-item">
              <a class="team-social-link" href="https://www.instagram.com">
                <svg class="team-social-icon" width="25" height="24">
                  <use href="../img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
